<!-- templates/partials/navbar.hbs -->
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
    <!-- Add more navigation links here -->
  </ul>
</nav>
